<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <!--<configSections>
    <section name="ViewConfigParent" type="CosmosMVC.Models.ViewConfigParent, CosmosMVC.Models"/>
  </configSections>-->
  <configSections>
    <section name="ProductSettings" type="CosmosMVC.ProductSettings, CosmosMVC"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="endpoint" value="https://npatancherucosmosdb.documents.azure.com:443/" />
    <add key="authKey" value="3rUGax9w5Z8Dqu954uO0N4vf1GfNer9XONTqKdfAiyKe9dkFmmWhRQeB3mszLED1KZzmQo1a4iV5Ymk7qaLvCA==" />
    <add key="database" value="npcosmosdb" />
    <add key="collection" value="FeatureSearch" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <ProductSettings>
    <DellSettings ProductNumber="20001" ProductName="Dell Inspiron1" Color="Black" Warranty="1 Years" ></DellSettings>

  </ProductSettings>
  <!--<ViewConfigParent>
    <views>
      <view name="CartList"  title="My Carts" viewTask="CartList" singleInstance="true"  ribbonDefault="Cart" />
      <view name="CartPriceAdjustment"  title="Price Adjustment" modal="true"  />
      <view name="CartQtyAdjustment"  title="Quantity Adjustment" modal="true"  />-->
      <!-- MainUi.AccountClassification (case-sensitive) -->
      <!--<view name="AccountClassificationAdmin" type="MainUi.AccountClassification.AccountClassificationAdminForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Account Classification Admin" modal="true" security="(Admin) OR (Scrn_ActClaAdminRead) OR (Scrn_ActClaHierAdmin) OR (Scrn_ActClaExtAdmin)" />
      <view name="ViewAccountClassificationAccounts" type="MainUi.AccountClassification.ViewAccountClassificationAccountsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Vew Active Account Classifications" modal="true" security="(Admin) OR (Scrn_CustMaintRO) OR (Scrn_ActClaAdminRead) OR (Scrn_ActClaHierAdmin) OR (Scrn_ActClaExtAdmin)" />
      <view name="UnlockAccountClassification" type="MainUi.AccountClassification.UnlockAccountClassificationForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Unlock Account Classification" modal="true" security="(Admin) OR (Scrn_ActClaUnlock)" />
      <view name="ClassificationStageSearchForm" type="MainUi.AccountClassification.ClassificationStageSearchForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Account Classification Search" modal="true" security="(Admin) OR (Scrn_ActClaAdminRead) OR (Scrn_ActClaHierAdmin) OR (Scrn_ActClaExtAdmin)" />
      --><!-- MainUi.ConferenceRoom (case-sensitive) --><!--
      <view name="ConferenceRoomAdmin" type="MainUi.ConferenceRoom.ConferenceRoomAdminForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="ConferenceRoomAdminController" title="Overview" viewTask="ConferenceRoomAdmin" security="(Admin) OR (Scrn_EmpOverView)" />
      <view name="ConferenceRoomAdminDetail" type="MainUi.ConferenceRoom.ConferenceRoomAdminDetailForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="ConferenceRoomAdminDetailController" title="Overview" viewTask="ConferenceRoomAdminDetail" security="(Admin) OR (Scrn_EmpOverView)" />
      <view name="ConferenceRoomDetail" type="MainUi.ConferenceRoom.ConferenceRoomDetailForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="ConferenceRoomController" title="Overview" viewTask="ConferenceRoomDetail" security="(Admin) OR (Scrn_EmpOverView)" />
      --><!-- MainUi.Employee (case-sensitive) --><!--
      <view name="EmployeeGroup" type="MainUi.Employee.EmployeeGroup, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="EmployeeGroupController" title="Coworker" security="(Admin) OR (Scrn_EmpSrch)" />
      <view name="EmployeeOverview" type="MainUi.Employee.EmployeeOverviewForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="EmployeeOverviewController" title="Overview" viewTask="EmployeeSearchTask" apMonitor="true" security="(Admin) OR (Scrn_EmpOverView)" SecurityOverrideMethod="HasViewAccessOverride" />
      <view name="EmployeeOverview_Spy" type="MainUi.Employee.EmployeeOverviewForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="EmployeeOverviewController" title="Overview" security="(Admin) OR (Scrn_EmpOverView)" />
      <view name="EmployeeSearch" type="MainUi.Employee.EmployeeSearchForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="EmployeeSearchController" title="Coworker Search" viewTask="EmployeeSearchTask" security="(Admin) OR (Scrn_EmpSrch)" employeesearch="Coworker" showBanner="true" canFloat="true" canSelectRibbon="true" />
      <view name="SpecialistOverviewDisplay" type="MainUi.Employee.SpecialistOverviewForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Display Resources" modal="true" viewTask="" security="" />
      <view name="EmployeeLookup" type="Cdw.WinApp.SPS.UiFramework.MruItems.EmployeeLookup, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Coworker Lookup" modal="true" security="(Admin) OR (Scrn_EmpLookup)" />
      --><!-- Coworker Angular Web --><!--
      <view name="CoworkerSearchView" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.Coworker.SearchPresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" vm="Cdw.SPS.Presentation.Coworker.ViewModel.SearchViewModel" mode="WPF" title="Coworker Search" viewTask="EmployeeSearchTask" canSelectRibbon="false" canFloat="true" security="(Admin) OR (Scrn_EmpSrch)" />
      <view name="CoworkerSearchViewFloat" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.Coworker.SearchPresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" vm="Cdw.SPS.Presentation.Coworker.ViewModel.SearchViewModel" mode="WPF" title="Coworker Search" viewTask="EmployeeSearchTask" canSelectRibbon="false" canFloat="true" security="(Admin) OR (Scrn_EmpSrch)" />
      <view name="CoworkerOverviewView" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.Coworker.OverviewPresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" vm="Cdw.SPS.Presentation.Coworker.ViewModel.OverviewViewModel" mode="WPF" title="Overview" viewTask="EmployeeSearchTask" canSelectRibbon="false" canFloat="true" security="(Admin) OR (Scrn_EmpOverView)" SecurityOverrideMethod="HasViewAccessOverride" />
      <view name="CoworkerPerfMgmtView" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.Coworker.CoworkerPerfMgmtPresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" vm="Cdw.SPS.Presentation.Coworker.ViewModel.CoworkerPerfMgmtViewModel" mode="WPF" title="Coworker Performance Management" canSelectRibbon="false" canFloat="false" security="(Admin) OR (Scrn_PerfMgmt)" />
      --><!-- Subscription Angular Web --><!--
      <view name="SubscriptionManagerView" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.OrderEntry.Subscription.SubscriptionManagerPresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" vm="Cdw.SPS.Presentation.OrderEntry.Subscription.ViewModels.SubscriptionManagerViewModel" mode="WPF" title="Subscription Manager" viewTask="SubscriptionOverviewView" canSelectRibbon="false" canFloat="false" security="(Admin) OR (Scrn_OrdManager)" />
      <view name="SubscriptionDashboardView" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.OrderEntry.Subscription.SubscriptionDashboardPresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" vm="Cdw.SPS.Presentation.OrderEntry.Subscription.ViewModels.SubscriptionDashboardViewModel" mode="WPF" title="Subscription Dashboard" viewTask="SubscriptionOverviewView" canSelectRibbon="false" canFloat="false" security="(Admin) OR (Scrn_OrdManager)" />
      --><!--<view name="SubscriptionOverviewViewNEW" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.OrderEntry.Subscription.SubscriptionOverviewPresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" vm="Cdw.SPS.Presentation.OrderEntry.Subscription.ViewModels.SubscriptionOverviewViewModel" mode="WPF" title="Subscription Overview - Under Construction" viewTask="SubscriptionOverviewView" canSelectRibbon="false" canFloat="true" security="(Admin) OR (Scrn_OrdManager)" />--><!--
      --><!-- Invoice Angular Web --><!--
      <view name="InvoiceSearchView" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.Order.InvoiceSearchPresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" vm="Cdw.SPS.Presentation.Order.ViewModel.InvoiceSearchViewModel" mode="WPF" title="Invoice Search" canSelectRibbon="false" security="(Admin) OR (Scrn_InvoiceSearch)" />
      --><!-- Renewal Dashboard Angular Web --><!--
      <view name="RenewalDashboardBIView" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.RenewalDashboardBIPresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" vm="Cdw.SPS.Presentation.RenewalMgmt.RenewalDashboardBIViewModel" mode="WPF" title="Dashboard" viewTask="" canSelectRibbon="false" canFloat="false" security="(Admin) OR (Scrn_Cart)" />
      --><!-- Cisco --><!--
      <view name="CiscoCreateEstimateView" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.Cisco.CiscoCreateEstimatePresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" vm="Cdw.Windows.Applications.Munich.MainUI.Cisco.CiscoCreateEstimateViewModel" mode="WPF" title="Create Cisco Estimate" viewTask="" canSelectRibbon="false" canFloat="false" security="(Admin) OR (Scrn_Cart)" />
      <view name="CiscoCreateQuoteView" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.Cisco.CiscoCreateQuotePresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" vm="Cdw.Windows.Applications.Munich.MainUI.Cisco.CiscoCreateQuoteViewModel" mode="WPF" title="Create Cisco Quote" viewTask="" canSelectRibbon="false" canFloat="false" security="(Admin) OR (Scrn_Cart)" />
      --><!-- MainUi.Help (case-sensitive) --><!--
      <view name="AboutDialog" type="MainUi.Help.AboutDialog, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="About Sales Productivity Suite" modal="true" security="(Admin) OR (Scrn_About)" SecurityOverrideMethod="HasViewAccessOverride" />
      --><!-- MainUi (case-sensitive) --><!--
      <view name="AccountManagerForm" type="Cdw.Windows.Applications.Munich.MainUI.AccountManagerForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Account Manager / Specialist" modal="true" security="(Admin) OR (Scrn_AcctMgrForm)" />
      <view name="AccountMgrCollection" type="Cdw.Windows.Applications.Munich.MainUI.AccountMgrCollectionForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Account Manager Collection" modal="true" security="(Admin) OR (Scrn_AcctMgrColl)" />
      <view name="AccountsByStrategy" type="Cdw.Windows.Applications.Munich.MainUI.AccountsByStrategySPS, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Accounts By Strategy" viewTask="PortfolioManagerTasks" singleInstance="true" security="(Admin) OR (Scrn_AcctByStrat)" />
      <view name="AddPackageProduct" type="Cdw.Windows.Applications.Munich.MainUI.AddPackageProductForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Add Products To Package" modal="true" security="(Admin) OR (Scrn_PackageProds)" />
      <view name="AddGlobalNotes" type="Cdw.Windows.Applications.Munich.MainUI.AddGlobalNotesForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Add Global Notes" modal="true" security="(Admin) OR (Scrn_CustMaintRO)" />
      <view name="ApplicationStatistics" type="Cdw.Windows.Applications.Munich.MainUI.ApplicationStatisticsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="SPS Application Statistics" modal="true" security="(Scrn_About)" />
      <view name="ArchiveEdit" type="Cdw.Windows.Applications.Munich.MainUI.EditArchiveForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="PortfolioManagerController" title="Archive" modal="true" security="(Admin) OR (Scrn_FaxDetail) OR (Scrn_CreditView)" />
      <view name="ArchiveHistory" type="Cdw.Windows.Applications.Munich.MainUI.ArchiveHistoryForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="PortfolioManagerController" title="History" modal="true" security="(Admin) OR (Scrn_FaxDetail) OR (Scrn_CreditView)" />
      <view name="ArchiveNew" type="Cdw.Windows.Applications.Munich.MainUI.ArchiveDetailsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="PortfolioManagerController" title="New Archive" apMonitor="true" singleInstance="false" security="(Admin) OR (Scrn_FaxDetail) OR (Scrn_CreditView)" />
      <view name="ArchiveOverview" type="Cdw.Windows.Applications.Munich.MainUI.ArchiveDetailsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="PortfolioManagerController" title="Archive Overview" singleInstance="false" viewTask="ArchiveOverview" security="(Admin) OR (Scrn_FaxDetail) OR (Scrn_CreditView)" />
      <view name="ArchiveOverviewModal" type="Cdw.Windows.Applications.Munich.MainUI.ArchiveDetailsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="PortfolioManagerController" title="Archive Overview" singleInstance="true" viewTask="ArchiveOverview" modal="true" security="(Admin) OR (Scrn_FaxDetail)OR (Scrn_CreditView)" />
      <view name="ArchiveTypeOptions" type="Cdw.Windows.Applications.Munich.MainUI.ArchiveTypeOptionsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="PortfolioManagerController" title="Archive" modal="true" security="(Admin) OR (Scrn_FaxDetail) OR (Scrn_CreditView)" />
      <view name="DocStorageView" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.DocStoragePresenter,,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" apMonitor="true" singleInstance="false" viewTask="" mode="WPF" title="Account Planning Documents" canSelectRibbon="false" showBanner="true" canFloat="false" security="(Admin) OR (Scrn_AcntPlanningDoc)" />
      <view name="ARInquiry" type="Cdw.Windows.Applications.Munich.MainUI.ARInquiryForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="AR Inquiry" viewTask="ARInquiry" security="(Admin) OR (Scrn_CustMaintRO)" />
      <view name="BidAttribute" type="Cdw.Windows.Applications.Munich.MainUI.BidAtributeForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="BidAttributeController" title="Bid Attribute" security="(Admin) OR (Scrn_Cart)" />
      <view name="BoxDetailGroup" type="Cdw.Windows.Applications.Munich.MainUI.BoxDetailGroup, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="BoxDetailGroupController" title="Boxes" security="(Admin) OR (Scrn_BoxDetail)" />
      <view name="BoxLookup" type="Cdw.Windows.Applications.Munich.MainUI.BoxLookup, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Box Lookup" modal="true" security="(Admin) OR (Scrn_BoxOver)" />
      <view name="BoxImageViewer" type="Cdw.Windows.Applications.Munich.MainUI.BoxImageViewer, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Box Image Viewer" modal="true" security="(Admin) OR (Scrn_BoxOver)" />
      <view name="BoxOverview" type="Cdw.Windows.Applications.Munich.MainUI.BoxOverviewForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="BoxOverviewController" title="Overview" security="(Admin) OR (Scrn_BoxOver)" />
      <view name="BoxTracking" type="Cdw.Windows.Applications.Munich.MainUI.BoxTrackingForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="BoxTrackingController" title="Tracking" security="(Admin) OR (Scrn_BoxTrack)" />
      <view name="BreakOrderEntry" type="Cdw.Windows.Applications.Munich.MainUI.BreakOrderEntryForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Break Order Entry" modal="true" security="(Scrn_About)" />
      <view name="BStock" type="Cdw.Windows.Applications.Munich.MainUI.BStockForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="BStockController" title="B-Stock Information" modal="true" security="(Admin) OR (Scrn_Bstock)" />
      <view name="Campaigns" type="Cdw.Windows.Applications.Munich.MainUI.Campaigns, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="PortfolioManagerController" title="Administration" singleInstance="false" viewTask="Campaigns" webUrl="CoworkernetPlaybookAdmin" security="(Admin) OR (Scrn_MessageMnt)" />
      <view name="CartAdd" type="Cdw.Windows.Applications.Munich.MainUI.CartAddForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Add To Cart" modal="true" security="(Admin) OR (Scrn_Cart)" />
      <view name="CartAssetTag_UID" type="Cdw.Windows.Applications.Munich.MainUI.CartAssetTag_UIDForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="AssetTag/UID" singleInstance="false" viewTask="CartAssetTag_UID" security="(Admin) OR (Scrn_AssetTag_UID)" />
      <view name="CartAssignContract" type="Cdw.Windows.Applications.Munich.MainUI.CartAssignContractForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Contracts" modal="true" security="(Admin) OR (Scrn_Cart) OR (Scrn_OrderAmend) OR (Tsk_ConvertQuote)" />
      <view name="CartBundleSelection" type="Cdw.Windows.Applications.Munich.MainUI.CartBundleSelectionForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Bundle Selection" modal="true" security="(Admin) OR (Scrn_Cart) OR (Scrn_OrderAmend) OR (Tsk_ConvertQuote)" />
      <view name="CartCompare" type="Cdw.Windows.Applications.Munich.MainUI.CartCompareForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CartCompareController" viewTask="CartCompare" title="Cart Compare" security="(Admin) OR (Scrn_Cart)" />
      <view name="CartInstallsManagement" type="Cdw.Windows.Applications.Munich.MainUI.InstallsManagementForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Installs Management" singleInstance="false" viewTask="CartInstalls" security="(Admin) OR (Scrn_InstallAdd)" ribbonDefault="Cart" />
      <view name="CartItemGroup" type="Cdw.Windows.Applications.Munich.MainUI.CartItemGroup, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Cart Items" singleInstance="true" security="(Admin) OR (Scrn_Cart)" />
      <view name="CartItems" type="Cdw.Windows.Applications.Munich.MainUI.CartItemsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CartItemsController" title="Cart Items" apMonitor="true" singleInstance="false" viewTask="CartItems" security="(Admin) OR (Scrn_Cart)" />
      <view name="CartList" type="Cdw.Windows.Applications.Munich.MainUI.CartListForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="My Carts" viewTask="CartList" singleInstance="true" security="(Admin) OR (Scrn_Cart)" ribbonDefault="Cart" />
      <view name="CartPriceAdjustment" type="Cdw.Windows.Applications.Munich.MainUI.CartPriceAdjustmentForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Price Adjustment" modal="true" security="(Admin) OR (Scrn_Cart)" />
      <view name="CartQtyAdjustment" type="Cdw.Windows.Applications.Munich.MainUI.CartQtyAdjustmentForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Quantity Adjustment" modal="true" security="(Admin) OR (Scrn_Cart)" />
      <view name="CartProfitability" type="Cdw.Windows.Applications.Munich.MainUI.CartProfitabilityForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Cart Profitability" modal="true" showBanner="true" canFloat="false" canSelectRibbon="false" security="(Admin) OR (Scrn_OrdOver)" />
      <view name="CartProfitabilityGroup" type="Cdw.Windows.Applications.Munich.MainUI.OrderProfitabilityGroup, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="OrderProfitabilityGroupController" title="Cart Profitability" modal="true" security="(Admin) OR (Scrn_ProdSrch) OR (Scrn_PowerSearch)" ribbonDefault="Product" showBanner="false" canFloat="false" canSelectRibbon="true" />
      <view name="ResellerExemptionRequest" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.OrderEntry.ResellerExemptionRequestPresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" vm="Cdw.SPS.Presentation.OrderEntry.ViewModels.ResellerExemptionRequestViewModel" title="RESELLER EXEMPTION REQUEST" viewTask="" showBanner="false" canFloat="false" modal="true" security="(Admin) OR (Scrn_Cart)" mode="WPF" />
      <view name="CartRestoreCartItems" type="Cdw.Windows.Applications.Munich.MainUI.CartRestoreCartItemsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Restore Cart Items" modal="true" security="(Admin) OR (Scrn_Cart)" />
      <view name="CartUIDManagement" type="Cdw.Windows.Applications.Munich.MainUI.UIDSelectionControl, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Cart UID Management" modal="true" viewTask="" security="" />
      <view name="CaseAttachmentAdd" type="Cdw.Windows.Applications.Munich.MainUI.CaseAttachmentAdd, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Add Case Attachment" modal="true" security="(Admin) OR (Scrn_CaseAttachAdd)" />
      <view name="CaseAttachmentViewer" type="Cdw.Windows.Applications.Munich.MainUI.CaseAttachmentViewer, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Case Attachment Viewer" modal="true" security="(Admin) OR (Scrn_CaseAttachVwr)" />
      <view name="CaseCentralGroup" type="Cdw.Windows.Applications.Munich.MainUI.CaseCentralGroup, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CaseCentralGroupController" title="CaseCentral" security="(Admin) OR (Scrn_CaseCentralGrp)" />
      <view name="CaseDashBoard" type="Cdw.Windows.Applications.Munich.MainUI.CaseDashBoardForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CaseSearchController" singleInstance="false" title="Case Dash Board" viewTask="CaseDashBoard" security="(Admin) OR (Scrn_CaseDashBoard)" />
      <view name="TechCaseDashBoard" type="Cdw.Windows.Applications.Munich.MainUI.CaseDashBoardForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CaseSearchController" singleInstance="false" title="Case Dash Board" viewTask="CaseDashBoard" security="(Admin) OR (Scrn_CaseDashBoard)" />
      <view name="CaseDetail" type="Cdw.Windows.Applications.Munich.MainUI.CaseDetail, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CaseDetailController" title="Case Detail" viewTask="CaseDetail" security="(Admin) OR (Scrn_CaseDetail)" />
      <view name="TechCaseDetail" type="Cdw.Windows.Applications.Munich.MainUI.TechCaseDetail, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CaseDetailController" title="Case Detail" viewTask="TechCaseDetail" security="(Admin) OR (Scrn_CaseDetail)" />
      <view name="CaseEntry" type="Cdw.Windows.Applications.Munich.MainUI.CaseEntry, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Case Entry" viewTask="Case Entry" modal="true" security="(Admin) OR (Scrn_CaseStart)" />
      <view name="CaseManualAssignment" type="Cdw.Windows.Applications.Munich.MainUI.CaseManualAssignment, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Manual Assignment" modal="true" security="(Admin) OR (Scrn_CaseManualAssig)" />
      <view name="TechCaseManualAssignment" type="Cdw.Windows.Applications.Munich.MainUI.TechCaseManualAssignment, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Tech Case Manual Assignment" modal="true" security="(Admin) OR (Scrn_CaseReassign)" />
      <view name="CollaborateTechCase" type="Cdw.Windows.Applications.Munich.MainUI.TechCaseManualAssignment, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Collaborate Tech Case" modal="true" security="(Admin) OR (Tsk_TSCollaboration)" />
      <view name="CaseNoteAdd" type="Cdw.Windows.Applications.Munich.MainUI.CaseNoteAdd, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Add Case Note" modal="true" security="(Admin) OR (Scrn_CaseNoteAdd)" />
      <view name="CaseNotes" type="Cdw.Windows.Applications.Munich.MainUI.CaseNotesForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CaseNotesController" title="CaseNotesForm" viewTask="CaseNotes" security="(Admin) OR (Scrn_CaseNotes)" />
      <view name="CasePaymentMethodForm" type="Cdw.Windows.Applications.Munich.MainUI.CasePaymentMethodForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CasePaymentsController" title="Case Payments" modal="true" security="(Admin) OR (Scrn_CaseDetail)" />
      <view name="CaseSearch" type="Cdw.Windows.Applications.Munich.MainUI.CaseSearchForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CaseSearchController" title="Case Search" viewTask="CaseSearch" security="(Admin) OR (Scrn_CaseSearch)" />
      <view name="TechCaseSearch" type="Cdw.Windows.Applications.Munich.MainUI.TechCaseSearch, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CaseSearchController" title="Tech Solution Case Search" viewTask="CaseSearch" security="(Admin) OR (Scrn_RTACaseSearch)" />
      <view name="CaseStatusChange" type="Cdw.Windows.Applications.Munich.MainUI.CaseStatusChange, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Change Case Status" modal="true" security="(Admin) OR (Scrn_CaseStatusChng)" />
      <view name="CloseTechCase" type="Cdw.Windows.Applications.Munich.MainUI.CloseCase, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Close Case Ratings" modal="true" security="(Admin) OR (Scrn_CaseDetail)" />
      <view name="TechCaseScoring" type="Cdw.Windows.Applications.Munich.MainUI.MvvmPresenter.CaseCentral.TSCaseScoringViewPresenter, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" apMonitor="true" singleInstance="false" vm="Cdw.SPS.Presentation.CaseCentral.ViewModels.TSCaseScoringViewModel" title="TS CASE SCORING" viewTask="" showBanner="true" canFloat="false" modal="true" mode="WPF" security="(Admin) OR (Scrn_CaseDetail)" />
      <view name="CaseTaskSearch" type="Cdw.Windows.Applications.Munich.MainUI.CaseTaskSearch, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CaseTaskSearchController" title="Tasks" viewTask="CaseTaskSearch" security="(Admin) OR (Scrn_CaseTaskSrch)" ribbonDefault="Product" />
      <view name="CheckoutOverview" type="Cdw.Windows.Applications.Munich.MainUI.CheckoutViewForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CheckoutOverviewController" title="Overview" viewTask="CheckoutOverview" apMonitor="true" reuseView="true" MaxViewsHistory="1" security="(Admin) OR (Scrn_CheckOver)" />
      <view name="CheckoutSummary" type="Cdw.Windows.Applications.Munich.MainUI.CheckoutSummaryForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CheckoutSummaryController" title="Summary" viewTask="CheckoutSummary" security="(Admin) OR (Scrn_CheckSumm)" />
      <view name="ClassificationSearchForm" type="Cdw.Windows.Applications.Munich.MainUI.ClassificationSearchForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Account Classification Search" modal="true" security="(Admin) OR (Scrn_CustMaintRO)" />
      <view name="CompareCartsDialog" type="Cdw.Windows.Applications.Munich.MainUI.CompareCartsDialogForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Compare Carts" modal="true" security="(Admin) OR (Scrn_Cart)" />
      <view name="ConsolidatedBalance" type="Cdw.Windows.Applications.Munich.MainUI.ConsolidatedBalancesForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Consolidated Balances" viewTask="ConsolidatedBalance" security="(Admin) OR (Scrn_CustMaintRO)" />
      <view name="Contact" type="Cdw.Windows.Applications.Munich.MainUI.ContactForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Select Contact" modal="true" security="(Admin) OR (Scrn_Contact)" />
      <view name="ContactEmail" type="Cdw.Windows.Applications.Munich.MainUI.ContactEmailForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Contact Email" modal="true" security="(Admin) OR (Scrn_Contact)" />
      <view name="ContractGroup" type="Cdw.Windows.Applications.Munich.MainUI.ContractGroup, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="ContractOverviewController" title="Contract" security="(Admin) OR (Scrn_ContGrp)" />
      <view name="ContractOverview" type="Cdw.Windows.Applications.Munich.MainUI.ContractOverviewForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="ContractOverviewController" title="Overview" viewTask="ContractOverView" security="(Admin) OR (Scrn_ContOver)" />
      <view name="ContractSearch" type="Cdw.Windows.Applications.Munich.MainUI.ContractSearchForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Contract Search" singleInstance="true" viewTask="DefaultTasks" security="(Admin) OR (Scrn_ContSrch)" />
      <view name="ContractSelect" type="Cdw.Windows.Applications.Munich.MainUI.ContractSelectForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Select Contract" modal="true" security="(Admin) OR (Scrn_ContSelect)" />
      <view name="CourierEmail" type="Cdw.Windows.Applications.Munich.MainUI.CourierEmailForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Courier Email" security="(Admin) OR (Scrn_CourierEmail)" />
      <view name="CoworkerLookup" type="Cdw.Windows.Applications.Munich.MainUI.CoworkerLookupForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Coworker Lookup" modal="true" security="(Admin) OR (Scrn_EmpLookup)" />
      <view name="CreateContractGroupWizard" type="Cdw.Windows.Applications.Munich.MainUI.CreateContractGroupWizardForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Create Contract Group" modal="true" security="(Admin) OR (Scrn_CreateContGrp)" />
      <view name="CreateTargetsWizard" type="Cdw.Windows.Applications.Munich.MainUI.CreateTargetsWizard, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Create Targets Wizard" modal="true" security="(Admin) OR (Scrn_CustAnalytics)" />
      <view name="CreditComments" type="Cdw.Windows.Applications.Munich.MainUI.CreditCommentsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Credit Comments" viewTask="CreditComments" security="(Admin) OR (Scrn_CreditComments)" />
      <view name="CRMAddNote" type="Cdw.Windows.Applications.Munich.MainUI.CRM.Tasks.Notes.NoteAddForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Add Note" singleInstance="true" viewTask="CRMAddNote" modal="true" security="(Admin) OR (Scrn_About)" />
      <view name="CRMViewNote" type="Cdw.Windows.Applications.Munich.MainUI.CRM.Tasks.Notes.ViewNote, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="View Shared Note" singleInstance="true" viewTask="ViewNote" modal="true" security="(Admin) OR (Scrn_About)" />
      <view name="CRMAssigneeSelect" type="Cdw.Windows.Applications.Munich.MainUI.CRM.Tasks.Search.CRMCoWorkerSearch, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Select Assignee(s) for task" modal="true" security="(Admin) OR (Scrn_About)" />
      <view name="CRMContact" type="Cdw.Windows.Applications.Munich.MainUI.ContactForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Select Customer Contact" modal="true" security="(Admin) OR (Scrn_About)" />
      <view name="CRMDeclineReason" type="Cdw.Windows.Applications.Munich.MainUI.CRM.Tasks.Notes.DeclineReasonForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Reason for Decline" singleInstance="true" viewTask="CRMDeclineReason" modal="true" security="(Admin) OR (Scrn_About)" />
      <view name="CRMTags" type="Cdw.Windows.Applications.Munich.MainUI.CRM.Tasks.TagsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Tags" singleInstance="true" viewTask="Tags" modal="true" security="(Admin) OR (Scrn_About)" />
      <view name="CRMTaskAccept" type="Cdw.Windows.Applications.Munich.MainUI.CRM.Tasks.TaskAcceptanceForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="New Task Assignment" singleInstance="true" viewTask="CRMTaskAccept" modal="true" security="(Admin) OR (Scrn_About)" />
      <view name="CRMTaskAttachmentViewer" type="Cdw.Windows.Applications.Munich.MainUI.CaseAttachmentViewer, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Task Attachment Viewer" modal="true" security="(Admin) OR (Scrn_About)" />
      <view name="CRMTaskCreate" type="Cdw.Windows.Applications.Munich.MainUI.CRM.Tasks.TaskCreationForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Task Creation" singleInstance="true" viewTask="CRMTaskCreate" modal="true" security="(Admin) OR (Scrn_MyTasksForm)" />
      <view name="CRMTaskEdit" type="Cdw.Windows.Applications.Munich.MainUI.CRM.Tasks.TaskEditForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Task Edit" apMonitor="true" singleInstance="false" viewTask="CRMTaskEdit" modal="false" security="(Admin) OR (Scrn_About)" />
      <view name="CRMTaskEditGroup" type="Cdw.Windows.Applications.Munich.MainUI.CRM.Tasks.TaskEditGroup, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CRMTaskEditController" title="Task Edit" security="(Admin) OR (Scrn_About)" />
      <view name="CRMTaskEditHistory" type="Cdw.Windows.Applications.Munich.MainUI.CRM.Tasks.TaskEditHistoryForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Task Edit History" singleInstance="false" viewTask="CRMTaskEditHistory" modal="false" security="(Admin) OR (Scrn_About)" />
      <view name="CustomContractSelect" type="Cdw.Windows.Applications.Munich.MainUI.CustomContractSelectForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Select Contract(s)" modal="true" security="(Admin) OR (Scrn_CustContSelect)" />
      <view name="CustomerAgreementAuditHistory" type="Cdw.Windows.Applications.Munich.MainUI.CustomerAgreementAuditHistory, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Agreement Audit History" modal="true" security="(Admin) OR (Scrn_CustAgmtSrc)" />
      <view name="CustomerAgreementComments" type="Cdw.Windows.Applications.Munich.MainUI.CustomerAgreementCommentsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerAgreementCommentsController" title="Comments" viewTask="" security="(Admin) OR (Scrn_CustAgmtCmnts)" />
      <view name="CustomerAgreementCreate" type="Cdw.Windows.Applications.Munich.MainUI.CustomerAgreementCreateForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerAgreementCreateController" modal="true" title="Create Agreement" viewTask="" security="(Admin) OR (Scrn_CustAgmtCrt)" />
      <view name="CustomerAgreementGroup" type="Cdw.Windows.Applications.Munich.MainUI.CustomerAgreementGroup, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerAgreementGroupController" title="License" security="(Admin) OR (Scrn_CustAgmtGrp)" />
      <view name="CustomerAgreementKeys" type="Cdw.Windows.Applications.Munich.MainUI.CustomerAgreementKeysForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerAgreementKeysController" title="Keys" viewTask="" security="(Admin) OR (Scrn_CustAgmtKeys)" />
      <view name="CustomerAgreementOverview" type="Cdw.Windows.Applications.Munich.MainUI.CustomerAgreementOverviewForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerAgreementOverviewController" title="Overview" viewTask="CustomerAgreementSearch" security="(Admin) OR (Scrn_CustAgmtOvw)" />
      <view name="CustomerAgreementSearch" type="Cdw.Windows.Applications.Munich.MainUI.CustomerAgreementSearchForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerAgreementSearchController" title="License Search" viewTask="CustomerAgreementSearch" security="(Admin) OR (Scrn_CustAgmtSrc)" />
      <view name="CustomerAnalytics" type="Cdw.Windows.Applications.Munich.MainUI.TargetsSearch, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerSearchController" title="Target Search" viewTask="CustomerAnalytics" security="(Admin) OR (Scrn_CustAnalytics)" singleInstance="true" />
      <view name="CustomerArchives" type="Cdw.Windows.Applications.Munich.MainUI.CustomerArchivesForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerDetailController" title="Documents" viewTask="CustomerDocuments" security="(Admin) OR (Scrn_CustomerArchive)" />
      <view name="CustomerContactChangeHistory" type="Cdw.Windows.Applications.Munich.MainUI.CustomerContactChangeHistoryForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerContactCommonController" title="Change History" viewTask="CustomerContactChangeHistory" security="(Admin) OR (Scrn_ContactHistory)" />
      <view name="CustomerContactEdit" type="Cdw.Windows.Applications.Munich.MainUI.CustomerContactEditForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" title="Edit Contact" modal="true" viewTask="CustomerContactCommonController" security="(Admin) OR (Scrn_ContactEdit)" />
      <view name="CustomerContactList" type="Cdw.Windows.Applications.Munich.MainUI.CustomerContactSearchForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerContactSearchController" title="Contacts" viewTask="CustomerContactList" security="(Admin) OR (Scrn_CustContactList)" />
      <view name="CustomerContactOverview" type="Cdw.Windows.Applications.Munich.MainUI.CustomerContactOverviewForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerContactCommonController" title="Contact Overview" viewTask="CustomerContactOverview" security="(Admin) OR (Scrn_Contact)" reuseView="true" />
      <view name="CustomerContactSearch" type="Cdw.Windows.Applications.Munich.MainUI.CustomerContactSearchForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerContactSearchController" title="Contact Search" viewTask="CustomerContactSearch" security="(Admin) OR (Scrn_CustContactSrc)" showBanner="true" canSelectRibbon="true" canFloat="true" />
      <view name="CustomerContract" type="Cdw.Windows.Applications.Munich.MainUI.CustomerContractForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerContractController" title="Contracts" viewTask="CustomerContract" security="(Admin) OR (Scrn_CustCont)" />
      <view name="CustomerEAccount" type="Cdw.Windows.Applications.Munich.MainUI.CustomerDetailForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerDetailController" title="EAccount" security="(Admin) OR (Scrn_CustEAccount) OR (Scrn_CustOver)" />
      <view name="CustomerFacingActivityHistory" type="Cdw.Windows.Applications.Munich.MainUI.CustomerFacingActivityHistoryForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Customer Facing Activity" modal="true" security="(Admin) OR (Scrn_CustOver)" />
      --><!--<view name="CustomerGroup" type="Cdw.Windows.Applications.Munich.MainUI.CustomerGroup, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerGroupController" title="Customers" security="(Admin) OR (Scrn_CustGrp)" />-->
        <!--
      <view name="CustomerInvoice" type="Cdw.Windows.Applications.Munich.MainUI.CustomerInvoiceForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerInvoiceController" title="Invoices" viewTask="CustomerInvoice" security="(Admin) OR (Scrn_CustInvc)" />
      <view name="CustomerMaintCreate" type="Cdw.Windows.Applications.Munich.MainUI.CustomerMaintenanceForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Customer Maintenance" viewTask="CustomerMaintenance" security="(Admin) OR (Scrn_CustMaintRW)" />
      <view name="CustomerMaintEdit" type="Cdw.Windows.Applications.Munich.MainUI.CustomerMaintenanceForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Customer Maintenance" viewTask="CustomerMaintenance" security="(Admin) OR (Scrn_CustMaintRO)" />
      <view name="CustAlternateAddress" type="Cdw.Windows.Applications.Munich.MainUI.AlternateAddressForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Ship To Addresses" viewTask="CustAlternateAddress" security="(Admin) OR (Scrn_CustMaintRO)" />
      <view name="CustomerMaintenanceAccountComments" type="Cdw.Windows.Applications.Munich.MainUI.CustomerMaintenanceAccountCommentsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" modal="true" title="Global Notes" viewTask="AccountComments" security="(Admin) OR (Scrn_CustMaintRO)" />
      <view name="CustomerMaintenanceChangeCompany" type="Cdw.Windows.Applications.Munich.MainUI.CustomerMaintenanceChangeCompanyForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" modal="true" title="Change Company" viewTask="ChangeCompany" security="(Admin) OR (Scrn_CustChangeComp)" />
      <view name="CustomerMaintenanceLinkAccounts" type="Cdw.Windows.Applications.Munich.MainUI.CustomerMaintenanceLinkAccountsForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Linked Accounts" viewTask="LinkedAccounts" security="(Admin) OR (Scrn_CustMaintRO)" />
      <view name="CustomerMaintenanceCustomFieldDef" type="Cdw.Windows.Applications.Munich.MainUI.CustomerMaintenanceCustomFieldDefForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" modal="true" title="Custom Fields" viewTask="CustomFields" security="(Admin) OR (Scrn_CustMaintRO)" />
      <view name="CustomerMaintenanceOutstandingBalances" type="Cdw.Windows.Applications.Munich.MainUI.CustomerMaintenanceOutstandingBalancesForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" modal="true" title="Outstanding Balances" viewTask="OutstandingBalances" security="(Admin) OR (Scrn_CustOver)" />
      <view name="CustomerMaintenanceRevisionHistory" type="Cdw.Windows.Applications.Munich.MainUI.CustomerMaintenanceRevisionHistoryForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Customer Revision History" viewTask="CustRevisionHistory" security="(Admin) OR (Scrn_CustMaintRO)" />
      <view name="CustomerOrder" type="Cdw.Windows.Applications.Munich.MainUI.CustomerOrderForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Orders/Quotes" viewTask="CustomerOrder" security="(Admin) OR (Scrn_CustOrd)" />
      <view name="CustomerLicense" type="Cdw.Windows.Applications.Munich.MainUI.CustomerLicenseForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerLicenseController" title="Licenses" viewTask="CustomerLicense" security="(Admin) OR (Scrn_CustLic)" />
      <view name="CustomerLicenseDetail" type="Cdw.Windows.Applications.Munich.MainUI.CustomerLicenseDetailForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerLicenseDetailController" modal="true" title="License Detail" security="(Admin) OR (Scrn_CustLicDetail)" />
      <view name="CustomerLookup" type="Cdw.Windows.Applications.Munich.MainUI.CustomerLookup, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="" title="Customer Lookup" modal="true" security="(Admin) OR (Scrn_CustOver)" />
      <view name="CustomerMCOSummary" type="Cdw.Windows.Applications.Munich.MainUI.CustomerMCOSummaryForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerMCOSummaryController" title="MCO Archive" viewTask="CustomerMCOSummary" security="(Admin) OR (Scrn_CustMCOSumm)" />
      <view name="CustomerMobius" type="Cdw.Windows.Applications.Munich.MainUI.CustomerDetailForm, , Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" controller="CustomerDetailController" title="Mobius" security="(Admin) OR (Scrn_CustMobius)" />
  -->  <!--</views>
  </ViewConfigParent>-->
</configuration>
